body 
{
  font-family: "Arial Black", Gadget, sans-serif
  font-size: 10px;
  line-height: 34px;
  color: #777;
  font-weight: bold;
  background: url("../images/background.jpg");
}


.container 
{
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding:0;
}



h1 
{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left:20px;
  font-size: 50px;
  font-weight:bold;
  line-height: 49px;
  color: #cd3149;
  text-align: center;

}

#banner 
{
  height: 300px;
  width:100%;
  margin-bottom: 40px;

}

.head-image 
{
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 40px;

}

.main-container 
{
  margin-top:40px;
  margin-left:40px;
  padding: 60px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left:20px;
  font-size: 25px;
  font-weight:bold;
  color: #b0a3f4;
  text-align: center;
}
